@using Microsoft.AspNetCore.Identity
@model AppUser
@inject UserManager<AppUser> _userManager;
@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdmin";
  var roles = await _userManager.GetRolesAsync(Model);
}
<div class="m-3">
    <section style="background-color: #eee;">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="@Model.Image" alt="avatar"
                     class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">@Model.UserName</h5>
                <p class="text-muted mb-1">@Model.Job</p>
                <p class="text-muted mb-4">@Model.Address</p>
                
                <div class="d-flex justify-content-center mb-2">
                  <a asp-action="Edit" class="btn btn-info mr-2">Edit</a>
                  <a asp-action="Index" class="btn btn-primary mr-2">Back To list</a>
                </div>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body p-0">
                <ul class="list-group list-group-flush rounded-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="fab fa-facebook-f fa-lg mr-3" style="color: #3b5998;"></i>
                    <a href="@Model.FbLink" >@Model.FbLink</a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="fab fa-instagram fa-lg mr-3" style="color: #ac2bac;"></i>
                    <a href="@Model.OtherLink" >@Model.IgLink</a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="fas fa-globe fa-lg text-warning mr-3"></i>
                    <a href="@Model.OtherLink" >@Model.OtherLink</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-sm-4">
                    <label class="mt-1 mr-3" asp-for="@Model.UserName"></label>
                  </div>
                  <div class="col-sm-8">
                    <p class="m-0">@Model.UserName</p>
                  </div>
                </div>
                <hr>
                <div class="row align-items-center">
                  <div class="col-sm-4">
                    <label class="mt-1 mr-3" asp-for="@Model.Email"></label>
                  </div>
                  <div class="col-sm-8">
                    <p class="m-0">@Model.Email</p>
                  </div>
                </div>
                <hr>
                <div class="row align-items-center ml">
                  <div class="col-sm-4">
                    <div class="mr-3">Role</div>
                  </div>
                  <div class="col-sm-8">
                    @{
                      string userRole = "";
                    }
                    @foreach (string role in roles)
                    {
                      if(roles.Count() > 1)
                      {
                        userRole += role + ", ";
                      }
                      else
                      {
                        userRole += role;
                      }
                    }
                    <p class="m-0">@userRole</p>
                  </div>
                </div>
                
                <hr>
                <div class="row align-items-center">
                  <div class="col-sm-4">
                    <label class="mt-1 mr-3" asp-for="@Model.PhoneNumber"></label>
                  </div>
                  <div class="col-sm-8">
                    <p class="m-0">@Model.PhoneNumber</p>
                  </div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-sm-4">
                      <label class="mt-1 mr-3" asp-for="@Model.Job"></label>
                    </div>
                    <div class="col-sm-8">
                      <p class="m-0">@Model.Job</p>
                    </div>
                  </div>
                <hr>
                
                <div class="row align-items-center">
                  <div class="col-sm-4">
                    <label class="mt-1 mr-3" asp-for="@Model.Address"></label>
                  </div>
                  <div class="col-sm-8">
                    <p class="m-0">@Model.Address</p>
                  </div>
                </div>
                <hr>
                <div class="row align-items-center">
                  <div class="col-sm-4">
                    <label class="mt-1 mr-3" asp-for="@Model.BirthDay"></label>
                  </div>
                  <div class="col-sm-8">
                    <p class="m-0">@Model.BirthDay</p>
                  </div>
                </div>
                <hr>
                <div class="row align-items-center">
                  <div class="col-sm-4">
                    <label class="mt-1 mr-3" asp-for="@Model.EmailConfirmed"></label>
                  </div>
                  <div class="col-sm-8">
                    <p class="m-0">@Model.EmailConfirmed</p>
                  </div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-sm-4">
                      <label class="mt-1 mr-3" asp-for="@Model.PhoneNumberConfirmed"></label>
                    </div>
                    <div class="col-sm-8">
                      <p class="m-0">@Model.PhoneNumberConfirmed</p>
                    </div>
                  </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
</div>
