@model NetMVC.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="m-3">
    <h1>Details</h1>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductCode)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductCode)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductCategory.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductCategory.Title)
            </dd>
            
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Detail)
            </dt>
            <dd class = "col-sm-10">
                @Html.Raw(Model.Detail)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-10">
                @if(Model.Image != null)
                {
                    <a href="@Model.Image">@Model.Image</a>
                }
            </dd>
            <dt class = "col-sm-2">
                More Images
            </dt>
            <dd class = "col-sm-10">
                <div class="row">
                    @if(Model.ProductImages != null)
                    {
                        foreach (var item in Model.ProductImages)
                        {
                            <div>
                                <a style="padding: 12px" href="@item.Image">@Model.Image</a>
                            </div>
                        }
                    }
                </div>
            </dd>
            
            
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class = "col-sm-10 d-price">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PriceSale)
            </dt>
            <dd class = "col-sm-10 d-price">
                @Html.DisplayFor(model => model.PriceSale)
            </dd>
            
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SeoTitle)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SeoTitle)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SeoDescription)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SeoDescription)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SeoKeywords)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SeoKeywords)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsHot)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsHot)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsHome)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsHome)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsSale)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsSale)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsActive)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UpdatedAt)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>
</div>