@model NetMVC.Models.Main.IndexMain
@{
    ViewData["Title"] = "Home Page";
	
}
<head>
	<link rel="stylesheet" type="text/css" href="~/Assets/Main/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Main/styles/responsive.css">
</head>

<!-- Slider -->
<partial name="~/Views/Main/_Slider.cshtml" model="@Model.sliderModel" />
<!-- Banner -->
<partial name="~/Views/Main/_ProductCaregories.cshtml" model="@Model.categoriesModel" />


<!-- New Arrivals -->

<div class="new_arrivals">
	<div class="container">
		<partial name="~/Views/Main/_ArrivalCategory.cshtml" model="@Model.categoriesModel" />
		<partial name="~/Views/Main/_Product.cshtml" model="@Model.productModel" />
	</div>
</div>

<!-- Deal of the week -->
<partial name="~/Views/Main/_Deal.cshtml"/>

<!-- Best Sellers -->
<partial name="~/Views/Main/_BestSeller.cshtml" model="@Model.bestSellerModel" />

<!-- Benefit -->
<partial name="~/Views/Main/_Policy.cshtml" model="@Model.policyModel" />

<!-- Blogs -->
<partial name="~/Views/Main/_Blog.cshtml" model="@Model.blogModel" />




