@using Microsoft.AspNetCore.Identity
@model List<Category>
@inject UserManager<AppUser> UserManager
@{
	var user = new AppUser();
	if(User.Identity.IsAuthenticated)
	{
		user = UserManager.GetUserAsync(User).Result;
	}
}
<!-- Header -->

	<header class="header trans_300">

		<!-- Top Navigation -->

		<div class="top_nav">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top_nav_left">free shipping on all u.s orders over $50</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="top_nav_right">
							<ul class="top_nav_menu">

								<!-- Currency / Language / My Account -->

								<li class="currency">
									<a href="#">
										usd
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="currency_selection">
										<li><a href="#">cad</a></li>
										<li><a href="#">aud</a></li>
										<li><a href="#">eur</a></li>
										<li><a href="#">gbp</a></li>
									</ul>
								</li>
								<li class="language">
									<a href="#">
										English
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="language_selection">
										<li><a href="#">French</a></li>
										<li><a href="#">Italian</a></li>
										<li><a href="#">German</a></li>
										<li><a href="#">Spanish</a></li>
									</ul>
								</li>
								<partial name="_LoginPartial"/>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Main Navigation -->

		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<a href="#">colo<span>shop</span></a>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
								@if(Model.Count > 0)
								{
									foreach (var item in Model)
									{
										if (item.Title == "Contact")
										{
											<li><a asp-area="Contact" asp-controller="Home" asp-action="Create">@item.Title</a></li>
										}
										else if (item.Title == "Home" || item.Title == "Index")
										{
											<li><a asp-area="" asp-controller="Home" asp-action="Index">@item.Title</a></li>
										}
										else
										{
											<li><a asp-area="" asp-controller="Home" asp-action="@item.Title">@item.Title</a></li>
										}
										
									}
								}
								else
								{
									<li><a href="#">home</a></li>
									<li><a href="#">shop</a></li>
									<li><a href="#">promotion</a></li>
									<li><a href="#">pages</a></li>
									<li><a href="#">blog</a></li>
									<li><a href="contact.html">contact</a></li>
								}
							</ul>
							<ul class="navbar_user">
								<li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								<li><a asp-area="User" asp-controller="UserNormal" asp-action="EditRender" asp-route-id="@user.Id"><i class="fa fa-user" aria-hidden="true"></i></a></li>
								<li class="checkout">
									<a asp-area="Cart" asp-controller="Home" asp-action="CartIndex">
										<i class="fa fa-shopping-cart" aria-hidden="true"></i>
										<span id="checkout_items" class="checkout_items">0</span>
									</a>
								</li>
							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</header>
