@using X.PagedList.Mvc.Core
@model IndexContactModel
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
    int number = 0;
    var searchStr = Context.Request.Query["searchString"];
}

<partial name="_StatusMessage"/>
<div class="m-3">
    <h1>CONTACTS LIST : TOTAL - @Model.totalContacts</h1>
    <p>
        <a class="btn btn-warning" id="btnDeleteMany" >Delete Many</a>
    </p>
    
    <table class="table">
        <thead>
        <tr>
            <th>
                <input type="checkbox" id="selectAll" />
            </th>
            
            <th>
                #
            </th>

            <th>
                @Html.DisplayNameFor(model => model.contacts[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contacts[0].Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contacts[0].CreatedAt)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.contacts) {
            number++;
            var index = number + (Model.contacts.PageNumber - 1) * Model.contacts.PageSize;
            <tr>
                <td>
                    <input type="checkbox" class="selectItem" value="@item.Id" />
                </td>
                
                <td>
                    @index
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>

                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-warning" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="m-3 d-flex flex-row-reverse">
        @Html.PagedListPager(Model.contacts, page => Url.Action("Index", new { page, searchString = searchStr }))
    </div>
</div>
<div id="notiToast"></div>
<script src="~/Assets/JsFunction/SelectAllToDelete.js"></script>
<script src="~/Assets/JsFunction/SearchPagination.js"></script>
